.navitems{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16213E;
    margin-top: -10px;
    
}
.link{
    margin-left: 10px;
    text-decoration: none;
    color:bisque;
    font-weight: 700;
    font-size: 20px;
}
.link:focus{
    color: white
}